#awesome-support-importer form{
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    margin-bottom: 30px;
}

#awesome-support-importer label {
    width: 250px;
    float: left;
}

#awesome-support-importer .option {
    width: 100%;
    float: left;
}

#awesome-support-importer input,
#awesome-support-importer select {
    min-width: 300px;
}

#awesome-support-importing-tickets-message {
    display: none;
}

.awesome-support-importer-status-message {
    background: #fff;
    border-left: 4px solid #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px 15px 2px;
    padding: 1px 12px;
}

.awesome-support-importer-status-message.is-success {
    border-left-color: #46b450;
}

.awesome-support-importer-status-message.is-error {
    border-left-color: #dc3232;
}

.awesome-support-importer-status-message.is-error .error-heading::before {
    content: "\f534";
    content: "\f534";
    font: 20px Dashicons;
    color: red;
    display: inline-block;
    margin-right: 10px;
}

.awesome-support-importer-message {
    background: #fff;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px 0;
    padding: 1px 5px;
}

.awesome-support-importer-message.is-error {
    background: #dc3232;
    color: #fff;
}

/*
Help Scout
 */
[data-helpscout="1"],
#awesome-support-get-helpscout-mailboxes,
#awesome-support-get-helpscout-access-token {
    display: none;
}
#awesome-support-importer[data-selectedapi="help-scout"] [data-helpscout="1"] {
    display: block;
}

#awesome-support-importer[data-selectedapi="help-scout"] #awesome-support-get-helpscout-mailboxes,
#awesome-support-importer[data-selectedapi="help-scout"] #awesome-support-get-helpscout-access-token {
    display: inline-block;
}